.slideshow-container {
    width: 100vw;
    height: auto;
    padding: 84px 12.5% 0;
    background-color: #fff;
}

/* .slideshow-container>div {
    position: relative;
} */
/* 
.slideshow-container>div>div:first-child {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
} */

/* .slideshow-container>div>div:first-child >div {
        width: 100%;
        height: 100%;
} */


@media only screen and (min-width: 768px) {
    .slideshow-container {
        padding: 200px 12.5% 0;
    }
}