.nous-trouver-stores-container {
    padding: 100px 0;
}

.nous-trouver-store-selector-container {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.nous-trouver-store-selector-container>div:first-child {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.nous-trouver-store-selector-container>div>p {
    margin: 0;
    text-align: left;
    /* padding: 10px 20px; */
    color: #444;
    font-size: 16px;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 300;
    padding: 10px;
    font-weight: 400px
}

.nous-trouver-store-selector-container>div:first-child {
    width: 100%;
    border: 2px solid #b4a06e;
    border-radius: 3px;
}

.nous-trouver-expand {
    display: block !important;
}

.nous-trouver-unexpand {
    display: none !important;
}

.nous-trouver-store-option-container {
    height: 0;
    display: none;
    transition: 0.25s ease-in-out !important;
    position: absolute;
    top: 48px;
    width: 100%;
    background-color: #fff;
}

.nous-trouver-store-show {
    height: auto !important;
    display: block !important;
    z-index: 100;
    border: 2px solid #b4a06e;
}

.nous-trouver-store-option-container>input {
    display: block;
    width: -webkit-fill-available;
    margin: 10px;
    padding: 5px;
}

.nous-trouver-store-option-container>ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nous-trouver-store-option-container>ul>li {
    list-style: none;
    text-align: left;
    width: 100%;
    padding: 10px;
    color: #444;
    font-size: 16px;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 300;
}

.nous-trouver-store-option-container>ul>li:hover {
    background-color: #b4a06e;
    cursor: pointer;
}